# Ignora cache de pytest
.pytest_cache/

# Ignora entornos virtuales comunes
venv/
env/
ENV/

# Archivos de configuración y cachés de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos temporales
*.log
*.swp

# Configuración de editores (opcional)
.vscode/
.idea/
